*{
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 auto;
}
body{
    display: flex;
    justify-content: center;
    align-self: center;
}
.container span{
     display: block;
     width: 40px;
     height: 40px;
     border-radius: 50%;
}
    .verde{
        background-color: rgb(83, 221, 175);
     }
    .amarelo{
        background-color: rgb(231, 187, 65)
    }
    .vermelho{
        background-color: rgb(219, 68, 68);
    }
    div{
    margin: 5px 0;
    background-color: rgb(27, 0, 58);
    border-radius: 5px;
    padding: 5px;
}
.container span + span{
    margin: 10px 0;
}

.verde-ativo{
    background-color: red;
    box-shadow: 0 0 15px red;
}

.amarelo-ativo{
    background-color: yellow;
    box-shadow: 0 0 15px yellow;
}

.vermelho-ativo{
    background-color: green;
    box-shadow: 0 0 15px green;
}